* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
}

.container {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    box-shadow: 0px 0px 2px #000;
    transition: 2s ease;
}

.box:hover {
    transition-duration: 0s;
}